*{
   margin: 0;
   padding: 0;
}

/* Add a black background color to the top navigation */
.navbar {
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  border-bottom: 2px solid red;
  height: 60px;
  display: flex;
  justify-content: space-between;
  position: fixed;
}

.logo {
 width: 110px;
 height: 70px;
 float: left;
}


/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-family: calibri;
  font-size: 30px;
  flex-grow:1;
  border-radius: 10px;
}

/* Change the color of links on hover */
.navbar a:hover
{
  background-color: #dc3545;
}

a.active 
{
  background-color: lightgreen;
}

/* linear gradient background */
body {
  background: #fff;
}


.card {
  margin-top: 48px ;
  margin-right: -25px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  max-width: 360px;
  float: left;
  text-align: center;
  font-family: arial;
  border-radius: 10px;
  }

.cardimg{
border-radius: 10px 10px 0 0;
}

.title {
  color: grey;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 35px;
  color: black;
}

.fa-facebook-square:hover 
{
color: blue;
}

.fa-instagram:hover
{
color: red;
}

.fa-twitter-square:hover
{
color:#00B6F1;
}

.fa-phone-square-alt
{
color: green;
margin: 10px;
font-size: 16px;
}

.fa-grin-tongue-wink
{
color:black;
margin: 0 350px;
}
.texts
{
float: left;
margin: 48px;
height:356px;
width: 900px;
border: 2px solid black;
border-radius: 10px;
background-color:lightcyan;
font-family: Florance, cursive;

}
.webbuild
{
font-family: Helvetica, Arial, sans-serif;
color: red;
}

marquee
{
width: 99.2%;
line-height: 30px;
}
.notice
{
margin: 62px 0;
font-size: x-large;
border: 2px solid yellow;
text-align: center;
background-color: yellow;
font-family: Open Sans,sans-serif;
}
.bullet
{
font-size: 40px;
color: red;
vertical-align: middle;
}
.quote
{
font-family: Florance, cursive;
}